<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DinerMax3000BusinessLayer.Properties.Settings.StudyDBConnectionString"
        connectionString="Data Source=INV241342\MYSQLSERVER;Initial Catalog=StudyDB;User ID=sa;Password=Elf_stea1th"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>